<%- include('import')%>
<body>
        <div class="d-flex" id="wrapper">
            <!--sidebar-->   
            <%- include('menu')%>
                
                <div id="page-content-wrapper">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary border-bottom">
                      <div class="container-fluid">
                          <button class="btn btn-light" id="sidebarToggle">
                              <i class="fa-solid fa-arrows-left-right fa-2xl"></i>
                          </button>                     
                      </div>
                    </nav> 
                    <!----------------------------------------------------------------->
                    <div class="container-fluid">
                        <div class="mt-4">
                          <!---------- table ---------->
                          <div class="form-body">
                            <div class="row">
                                <div class="form-holder">
                                    <div class="form-content">
                                        <div class="form-items" style="background-color: #152733">
                                            <h3>Edit your work</h3>
                                            <p>Fill in the data below.</p>
                                            <form class="requires-validation" action="/dashboard/show_topic/work/working_edit" method="post">
                                                
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <label>Topic : </label>
                                                        <input class="form-control" type="text" name="topic"	 value="<%=items.Topic%>" id=""> 
                                                    </div>
                                                </div>
                                            
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <label>Start : </label>
                                                        <input class="form-control" type="text" name="Start"	 value="<%=items.Start%>" id=""> 
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <label>Deadline : </label>
                                                        <input class="form-control" type="text" name="deadline"	 value="<%=items.deadline%>" id=""> 
                                                    </div>
                                                </div>
    
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <label>Content : </label>
                                                        <textarea class="form-control py-3" type="text" name="content" value="<%=items.content%>" id=""></textarea>
                                                    </div>
                                                </div>                         
    
                                                <div class="form-button mt-3 px-3">
                                                    <button id="submit" type="submit" class="btn btn-primary">Save</button>
                                                </div>
                                                <!--ต้องมีการส่ง id นะ ไม่งั้นเวลาแก้ไขเราจะระบุuserที่ id ไหนไม่ได้-->
                                                <input type="hidden" name="id" value="<%=items.id%>">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>      
                            <!---------- table ---------->
                        </div>
                    </div>
                    <!------------------------------------------------------------------>
                </div>
        </div>
        <%- include('footer')%>
</body>
</html>